@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@import "./styles/variables.css";
@import "./styles/layout.css";
@import "./styles/card.css";

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family-main);
}

html, body {
  width: 100%;
}

body {
  height: 100vh;
  font-size: 1.3rem;
}

.attribution {
  margin: 40px;
  text-align: center;
}