.cards-container {
  width: clamp(20rem, 100%, 72rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.card {
  box-sizing: border-box;
  width: 100%;
  min-height: fit-content;
  border-radius: var(--border-radius);
  padding: 2.5rem;
  position: relative;
  z-index: 0;

  color: var(--color-very-dark-grayish-blue);

  box-shadow: 1rem 2rem 4rem 0.5rem var(--shadow);
  background-color: var(--color-white);
}

.card > * + * {
  margin-top: 1.5rem;
}

.card__profile-container {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1.6rem;
}

.card__picture {
  height: auto;
  width: 4rem;
  border-radius: 100%;

  grid-area: 1 / 1 / 3 / 2;
  align-self: center;

  border: 0.2rem solid var(--color-white);
  background-color: var(--color-white);
}

.card__picture--purple-border {
  border-color: var(--color-moderate-violet);
  background-color: var(--color-moderate-violet);
}

.card__name {
  grid-area: 1 / 2 / 2 / 3;
  align-self: end;

  font-size: 1.5rem;
}

.card__status {
  grid-area: 2 / 2 / 3 / 3;
  align-self: start;
  opacity: 0.5;
}

.card__testimonial {
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
}

.card__review-paragraph {
  opacity: 0.7;
  line-height: 1.8rem;
}

.card--violet {
  background-color: var(--color-moderate-violet);
  color: var(--color-white);
}

.card--violet::before {
  content: "";
  position: absolute;
  width: 10.4rem;
  height: 10.2rem;
  right: 15%;
  top: 0;
  z-index: -2;

  background-image: url("../images/bg-pattern-quotation.svg");
  opacity: 0.7;
}

.card--very-dark-grayish-blue {
  background-color: var(--color-very-dark-grayish-blue);
  color: var(--color-white);
}

.card--very-dark-blackish-blue {
  background-color: var(--color-very-dark-blackish-blue);
  color: var(--color-white);
}

@media screen and (min-width: 1000px) {
  .cards-container {
    width: clamp(40rem, 100%, 110.1rem);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .card {
    height: 100%;
  }

  .card__review-paragraph {
    margin-top: 1.8rem;
  }

  .card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  .card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .card:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }

  .card:nth-child(5) {
    grid-area: 1 / 4 / 3 / 5;
  }
}
