.main {
  height: 100%;

  display: flex;
  flex-direction: column;
  place-items: center center;

  box-sizing: border-box;
  padding: 1rem;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}